# Use Perl syntax!
{
    aws => {
        access_key => 'AWS_ACCESS_KEY_HERE',
        secret_key => 'AWS_SECRET_ACCESS_KEY_HERE',
        bucket => 'S3_BUCKET_NAME_HERE',
        report_name => 'report_name',
        prefix => 'prefix',
        accounts => {
            '123456789' => 'account-name-for-account-id-123456789',
            '098765432' => 'account-name-for-account-id-098765432',
        }
    },
    db => {
        host => 'db',
        database => 'aws_reporting',
        user => 'root',
        pass => 'hunter2'
    },
    report => {
        # Highlight diffs over this dollar amount
        warning_threshold => 200,
        from => 'joe@example.com',
        recipients => [
            'test@example.com',
            'recipient@example.com',
        ]
    }
}
