{% extends '_base.html' %}
{% set platform = 'AWS' %}
{% block main %}
Amazon Web Services Report for {{ report_date.strftime('%A, %d %B %Y') }}<br>

<div class="row">
    <div class="column">
        {# Prints the total amount spent by each account #}
        <h2>Totals by account</h2>
        <table>
            <thead>
            <tr>
                <th>Account</th>
                <th>{{ report_date|ym }}</th>
                <th>{{ report_date|ymd }}</th>
            </tr>
            </thead>
            <tbody>
            {% for account_id, billedAmount in accountTotalsMonthly.items()|sort %}
                <tr>
                    <td><a href='#{{ account_id }}'>{{ account_id }}</a></td>
                    <td>{{ billedAmount|print_amount }}</td>
                    <td>{{ (accountTotalsDaily[account_id] if account_id in accountTotalsDaily else 0)|print_amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Grand total</td>
                <td>{{ accountTotalsMonthly|sum_values|print_amount }}</td>
                <td>{{ accountTotalsDaily|sum_values|print_amount }}</td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="column">
        {# Prints the total amount spent by each service #}
        <h2>Totals by service</h2>
        <table>
            <thead>
            <tr>
                <th>Service</th>
                <th>{{ report_date|ym }}</th>
            </tr>
            </thead>
            <tbody>
            {% for service, cost in serviceTotalsMonthly.items()|sort(attribute='1', reverse=True) %}
                {% if cost > 1 %}
                <tr>
                    <td>{{ service }}</td>
                    <td>{{ cost|print_amount }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{# Prints the most expesnive costs for each user in the current month #}
<h2>User cost accounting</h2>
<caption>Service costs grouped by resource owners. Only services that a user spent more than $1 on are displayed.</caption>
<table>
    <thead>
    <tr>
        <th>Owner</th>
        <th>Service</th>
        <th>{{ report_date|ym }}</th>
    </tr>
    </thead>
    <tbody>
    {% for owner, serviceDict in userCostSummaryMonthly.items() %}
        <tr>
            <td>{{ owner }}</td>
            <td> </td>
            <td> </td>
        </tr>
        {% for service, cost in serviceDict.items() %}
            <tr>
                <td> </td>
                <td>{{ service  }}</td>
                <td>{{ cost|print_amount }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

{# Prints the most expesnive resources for the current month #}
<h2>Resource accounting by cost</h2>
<table>
    <thead>
    <tr>
        <th>Resource ID</th>
        <th>Account</th>
        <th>Service</th>
        <th>Email</th>
        <th>{{ report_date|ym }}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, resource in resourceSummaryMonthly.items()|sort(attribute='1.monthly_cost', reverse=True) %}
        <tr>
            {% if resource.url is not none %}
                <td><a href="{{ resource.url }}">{{ resource.resource_arn }}</a></td>
            {% else %}
                <td>{{ resource.resource_arn }}</td>
            {% endif %}
            <td>{{ resource.account_name }}</td>
            <td>{{ resource.resource_type }}</td>
            <td>{{ resource.email if resource.email is not none else ("Shared" if resource.is_shared else "-")  }}</td>
            <td>{{ resource.monthly_cost|print_amount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# Prints the usage costs for various AWS services #}
<h2>Monthly summary by service usage types</h2>
<div class="row">
    {% for service, usage_dict in serviceUsageTypesMonthly.items()|sort %}
        {% if service in ["Amazon Elastic Compute Cloud - Compute", "EC2 - Other", "Amazon Simple Storage Service"] %}
            <div class="column">
                <h3>{{ service }}</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Usage Type</th>
                        <th>Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usage_type, cost in usage_dict.items()|sort(attribute='1', reverse=True) %}
                        {% if cost > 1 %}
                            <tr>
                                <td>{{ usage_type }}</td>
                                <td>{{ cost|print_amount }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>Grand total</td>
                        <td>{{ usage_dict|sum_values|print_amount }}</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        {% endif %}
    {% endfor %}
</div>
    <div class="column">
        <h3>Estimated storage in GB</h3>
        <table>
            <thead>
            <tr>
                <th>Type</th>
                <th>Usage Cost</th>
                <th>Usage Amount</th>
                <th>Usage Unit</th>
            </tr>
            </thead>
            <tbody>
            {% for usageType, metrics in s3StorageSummaryMonthly.items()|sort(attribute='1.usageCost', reverse=True) %}
                {% if metrics["usageCost"] > 1 %}
                    <tr>
                        <td>{{ usageType }}</td>
                        <td>{{ metrics["usageCost"]|print_amount }}</td>
                        <td>{{ metrics["usageAmount"]|int }}</td>
                        <td>{{ metrics["usageUnit"] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <h3>Bucket Details Link (demo)</h3>
        <table>
            <thead>
            <tr>
                <th>Bucket</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="http://logserv.gi.ucsc.edu/cgi-bin/vg-k8s.cgi">vg-k8s</a></td>
            </tr>
            <tr>
                <td><a href="http://logserv.gi.ucsc.edu/cgi-bin/vg-data.cgi">vg-data</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    {% for account_id, services in accountServicesMonthly.items()|sort %}
        <div class="accountRow">
            <a name='{{ account_id }}' id='{{ account_id }}'></a>
            <h2>Report for account {{ account_id }}</h2>

            <table>
                <caption>Service Summary</caption>
                <thead>
                <tr>
                    <th>Service</th>
                    <th>{{ report_date|ym }}</th>
                    <th>{{ report_date|ymd }}</th>
                </tr>
                </thead>
                <tbody>
                {% for service, amount in services.items()|sort %}
                    <tr>
                        <td>{{ service }}</td>
                        <td>{{ amount|print_amount }}</td>
                        <td>{{ (accountServicesDaily[account_id][service] if account_id in accountServicesDaily and service in accountServicesDaily[account_id] else 0)|print_diff }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td>Grand total</td>
                    <td>{{ accountTotalsMonthly[account_id]|print_amount }}</td>
                    <td>{{ (accountTotalsDaily[account_id] if account_id in accountTotalsDaily else 0)|print_diff }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    {% endfor %}
</div>

{% endblock main %}
