{% extends '_base.html' %}
{% set platform = 'GCP' %}
{% block main %}
    Google Cloud Platform Report for {{ report_date.strftime('%A, %d %B %Y') }}<br>

    <h2>Totals by project</h2>
    <table>
        <thead>
        <tr>
            <th>Project</th>
            <th>{{ report_date|ym }}</th>
            <th>{{ report_date|ymd }}</th>
        </tr>
        </thead>
        <tbody>
        {% for project, cost_month, cost_today in rows|group_by('name', 'cost_month', 'cost_today') %}
            <tr>
                <td><a href='#{{ project }}'>{{ project }}</a></td>
                <td>{{ cost_month|print_amount }}</td>
                <td>{{ cost_today|print_diff }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>Grand total</td>
            <td>{{ rows|sum_key('cost_month')|print_amount }}</td>
            <td>{{ rows|sum_key('cost_today')|print_amount }}</td>
        </tr>
        </tfoot>
    </table>

    <h2>Details by project</h2>
    {% for project, month_total, today_total in rows|group_by('name', 'cost_month', 'cost_today')|sort_by(1) %}
        <a name='{{ project }}' id='{{ project }}'></a>
        <h3>Report for project {{ project }}</h3>
        <table>
            <thead>
            <tr>
                <th>Service</th>
                <th>{{ report_date|ym }}</th>
                <th>{{ report_date|ymd }}</th>
            </tr>
            </thead>
            <tbody>
            {% for service, month_cost, today_cost in rows|filter_by(name=project)|group_by('description', 'cost_month', 'cost_today')|sort_by(1) %}
                <tr>
                    <td><a href='#{{ service }}'>{{ service }}</a></td>
                    <td>{{ month_cost|print_amount }}</td>
                    <td>{{ today_cost|print_diff }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Grand total</td>
                <td>{{ month_total|print_amount }}</td>
                <td>{{ today_total|print_diff }}</td>
            </tr>
            </tfoot>
        </table>
    {% endfor %}

    <h2>Details by service</h2>
    {% for service, month_total, today_total in rows|group_by('description', 'cost_month', 'cost_today')|sort_by(1) %}
         <a name='{{ service }}' id='{{ service }}'></a>
         <h3>Report for service {{ service }}</h3>
         <table>
             <thead>
             <tr>
                <th>Project</th>
                <th>{{ report_date|ym }}</th>
                <th>{{ report_date|ymd }}</th>
            </tr>
            </thead>
            <tbody>
            {% for project, month_cost, today_cost in rows|filter_by(description=service)|group_by('name', 'cost_month', 'cost_today')|sort_by(1) %}
                <tr>
                    <td><a href='#{{ project }}'>{{ project }}</a></td>
                    <td>{{ month_cost|print_amount }}</td>
                    <td>{{ today_cost|print_diff }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Grand total</td>
                <td>{{ month_total|print_amount }}</td>
                <td>{{ today_total|print_diff }}</td>
            </tr>
            </tfoot>
        </table>
    {% endfor %}

{% endblock main %}
