{% extends '_base.html' %}
{% set platform = 'GCP' %}
{% block main %}
    Google Cloud Platform Report for {{ report_date.strftime('%A, %d %B %Y') }}<br>

    {% if cost_cutoff > 0 %}
    Abbreviated report: monthly costs less than {{ cost_cutoff|print_amount }} are not displayed.<br>
    {% endif %}

    <h2>Totals by project</h2>
    <table>
        <thead>
        <tr>
            <th>Project Name</th>
            <th>{{ report_date|ym }}</th>
            <th>{{ report_date|ymd }}</th>
        </tr>
        </thead>
        <tbody>
        {% for id, cost_month, cost_today, project in rows|group_by('id', 'cost_month', 'cost_today', 'name')|sort_by(1) %}
          {%- if cost_month >= cost_cutoff -%}
            <tr>
                <td><a href='#{{ id|to_project_id }}'>{{ project }}</a></td>
                <td>{{ cost_month|print_amount }}</td>
                <td>{{ cost_today|print_diff }}</td>
            </tr>
          {%- endif -%}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>Grand total</td>
            <td>{{ rows|sum_key('cost_month')|print_amount }}</td>
            <td>{{ rows|sum_key('cost_today')|print_amount }}</td>
        </tr>
        </tfoot>
    </table>

    <h2>User cost accounting</h2>
    <table>
        <thead>
        <tr>
            <th>Owner</th>
            <th>Service</th>
            <th>{{ report_date|ym }}</th>
        </tr>
        </thead>
        <tbody>
        {% for created_by, month_total, today_total in rows|group_by('created_by', 'cost_month', 'cost_today')|sort_by(1) %}
          {%- if month_total >= cost_cutoff -%}
            <tr>
                <td>{{ created_by }}</td>
                <td></td>
                <td></td>
            </tr>
            {% for service, month_cost, today_cost in rows|filter_by(created_by=created_by)|group_by('description', 'cost_month', 'cost_today')|sort_by(1) %}
              {%- if month_cost >= cost_cutoff -%}
                <tr>
                    <td></td>
                    <td><a href='#{{ service|to_service_id }}'>{{ service }}</a></td>
                    <td>{{ month_cost|print_amount }}</td>
                </tr>
              {%- endif -%}
            {% endfor %}
            <tr>
                <td></td>
                <td>Total</td>
                <td>{{ month_total|print_amount }}</td>
            </tr>
          {%- endif -%}
        {% endfor %}
        </tbody>
    </table>

    <h2>Details by project</h2>
    {% for id, month_total, today_total, project in rows|group_by('id', 'cost_month', 'cost_today', 'name')|sort_by(1) %}
      {%- if month_total >= cost_cutoff -%}
        <a name='{{ id|to_project_id }}' id='{{ id|to_project_id }}'></a>
        <h3>Report for project {{ project }}</h3>
        <p>GCP project ID: <a href="https://console.cloud.google.com/welcome?project={{ id }}">{{ id }}</a>
        {% if id in terra_workspaces and 'createdBy' in terra_workspaces[id] %}
          <br>Terra workspace created by {{ terra_workspaces[id]['createdBy'] }}
        {% endif %}
        </p>
        <table>
            <thead>
            <tr>
                <th>Service</th>
                <th>{{ report_date|ym }}</th>
                <th>{{ report_date|ymd }}</th>
            </tr>
            </thead>
            <tbody>
            {% for service, month_cost, today_cost in rows|filter_by(id=id)|group_by('description', 'cost_month', 'cost_today')|sort_by(1) %}
              {%- if month_cost >= cost_cutoff -%}
                <tr>
                    <td><a href='#{{ service|to_service_id }}'>{{ service }}</a></td>
                    <td>{{ month_cost|print_amount }}</td>
                    <td>{{ today_cost|print_diff }}</td>
                </tr>
              {%- endif -%}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Grand total</td>
                <td>{{ month_total|print_amount }}</td>
                <td>{{ today_total|print_diff }}</td>
            </tr>
            </tfoot>
        </table>
      {%- endif -%}
    {% endfor %}

    <h2>Details by service</h2>
    {% for service, month_total, today_total in rows|group_by('description', 'cost_month', 'cost_today')|sort_by(1) %}
      {%- if month_total >= cost_cutoff -%}
         <a name='{{ service|to_service_id }}' id='{{ service|to_service_id }}'></a>
         <h3>Report for service {{ service }}</h3>
         <table>
             <thead>
             <tr>
                <th>Project Name</th>
                <th>{{ report_date|ym }}</th>
                <th>{{ report_date|ymd }}</th>
            </tr>
            </thead>
            <tbody>
            {% for id, month_cost, today_cost, project in rows|filter_by(description=service)|group_by('id', 'cost_month', 'cost_today', 'name')|sort_by(1) %}
              {%- if month_cost >= cost_cutoff -%}
                <tr>
                    <td><a href='#{{ id|to_project_id }}'>{{ project }}</a></td>
                    <td>{{ month_cost|print_amount }}</td>
                    <td>{{ today_cost|print_diff }}</td>
                </tr>
              {%- endif -%}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Grand total</td>
                <td>{{ month_total|print_amount }}</td>
                <td>{{ today_total|print_diff }}</td>
            </tr>
            </tfoot>
        </table>
      {%- endif -%}
    {% endfor %}

{% endblock main %}
