{% extends '_base.html' %}
{% set platform = 'AWS' %}
{% block main %}
Amazon Web Services Report for {{ report_date.strftime('%A, %d %B %Y') }}<br>

<p>
    The following report includes a summary of all AWS S3 buckets that are tagged with your email address.
</p>

<h2>Resource Summary</h2>
<table>
    <caption>Resource Summary</caption>
    <thead>
    <tr>
        <th>Account</th>
        <th>Region</th>
        <th>Product Type</th>
        <th>Resource ID</th>



{#        <th>Monthly Cost</th>#}
{#        <th>Daily Cost</th>#}
    </tr>
    </thead>
    <tbody>
    {% for resource in resource_list %}
        <tr>
            <td>{{ resource.account_name }}</td>
            <td>{{ resource.region }}</td>
            <td>{{ resource.resource_type }}</td>
            <td>{{ resource.resource_arn }}</td>
{#            <td>{{ resource.monthly_cost }}</td>#}
{#            <td>{{ resource.daily_cost }}</td>#}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock main %}