# Use Perl syntax!
{
    gcp => {
        bucket => 'bucket-name',
    },
    report => {
        # Highlight diffs over this dollar amount
        warning_threshold => 200,
        from => 'joe@example.com',
        recipients => [
            'recipient@example.com',
            'joe2@example.com',
        ]
    }
}
